
<div class="container">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1><%= title %></h1>
        <%if (form) { %>
          <%- include form %>
        <% } %>
      <div class="results"></div>
    </div>
  </div>
</div>
